{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="catalog-list-main-row-link">
    <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
    <p>-</p>
    <a class="catalog-list-main-row-link-item" href="{% url 'about' %}">О нас</a>
</div>

<h1 class="pay_delivery-title">О магазине</h1>
<p class="return_charge-text">Yumezo – один из первых специализированных аниме-магазинов в России, открывшийся в 2024 году. Наш магазин познакомит вас с уникальной и своеобразной культурой японской анимации, которая очень популярна во всем мире среди людей любого возраста. В каталоге вас ждет огромный ассортимент доступных и качественных товаров для фанатов аниме-культуры: </p>
<ul class="about-us-ol">
    <li><a class="about-us-ol-li" href="#">манга и комиксы;</a></li>
    <li><a class="about-us-ol-li" href="#">аниме фигурки;</a></li>
    <li><a class="about-us-ol-li" href="#">одежда, обувь и аксессуары;</a></li>
    <li><a class="about-us-ol-li" href="#">сумки и рюкзаки;</a></li>
    <li><a class="about-us-ol-li" href="#">канцелярия;</a></li>
</ul>
<p class="return_charge-text">Мы регулярно проводим распродажи к различным праздникам, розыгрыши подарков, «черные пятницы» и другие виды скидок для наших клиентов. Постоянные покупатели нашего интернет-магазина получают индивидуальные скидки на заказы, а в наших розничных магазинах действует программа лояльности в виде скидочных карт.</p>
<p class="return_charge-text">Для жителей Москвы, Санкт-Петербурга и Екатеринбурга мы предлагаем посетить наши розничные магазины, и оценить разнообразие и качество нашей продукции. В данных городах также доступен бесплатный самовывоз из розничных магазинов. Для остальных жителей России и других стран доступны заказы в нашем интернет-магазине. На сайте вы также можете оформить доставку на дом курьерскими службами СДЭК и EMS, самовывоз из пунктов выдачи курьерской СДЭК, и отделений Почты России.</p>
<p class="return_charge-text">Мы всегда стремимся к тому, чтобы вы получили свой товар максимально быстро и качественно.
    С нами каждая ваша покупка станет праздником!</p>
<p class="return_charge-text">Присоединяйтесь к нашей группе в социальной сети ВКонтакте и следите за новостями нашей компании – о новых конкурсах, открытии предзаказов на мангу, фигурки и другие товары, скидках, и распродажах.</p>
{% endblock content %}