{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="catalog-list-main-row-link">
        <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'contacts' %}">Контакты</a>
    </div>

    <h1 class="pay_delivery-title">Наши контакты и реквезиты</h1>
    <h2 class="contact-city">Казань</h2>
    <p class="return_charge-text">Розничный магазин и бесплатный пункт самовывоза находится по адресу: Проспект</p>
    <p class="return_charge-text">Победы, дом 1, станция метро Проспект Победы</p>
    <p class="return_charge-text">Телефон: +7 (999) 111 11 11</p>
    <p class="return_charge-text">Часы работы — ежедневно с 11:00 до 21:00.</p>
    <div class="contacts-map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/43/kazan/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Казань</a><a href="https://yandex.ru/maps/geo/kazan/53166501/?ll=49.106414%2C55.796129&utm_medium=mapframe&utm_source=maps&z=12" style="color:#eee;font-size:12px;position:absolute;top:14px;">Казань — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=49.106414%2C55.796129&mode=poi&poi%5Bpoint%5D=49.106408%2C55.796129&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzE2NjUwMRJD0KDQvtGB0YHQuNGPLCDQoNC10YHQv9GD0LHQu9C40LrQsCDQotCw0YLQsNGA0YHRgtCw0L0sINCa0LDQt9Cw0L3RjCIKDfhsREIVPC9fQg%2C%2C&z=12" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
{% endblock content %}