{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="catalog-list-main-row-link">
        <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'delivery' %}">Оплата и доставка</a>
    </div>

    <h1 class="pay_delivery-title">Оплата и доставка</h1>
    <h2 class="pay_deliver-pays">Оплата</h2>
    <p class="pay_deliver-between">В нашем интернет-магазине предусмотрены следующие способы оплаты заказов:</p>
    <p class="pay_deliver-text-bold">1. Оплата при получении заказа.</p>
    <p class="pay_deliver-text">1.1. Наложенный платеж. Оплата производится при получении посылки на указанном вами почтовом отделении. Стоимость будет рассчитываться в соответствии с почтовыми тарифами. Также за отправку денежных средств необходимо оплатить комиссию в соответствии с действующими тарифами.</p>
    <p class="pay_deliver-text">1.2. Оплата наличными или банковской картой производится при получении посылки в выбранном вами пункте выдачи СДЭК или курьеру СДЭК, если выбрана доставка по домашнему адресу. Процента за перевод наложенного платежа у курьерской службы СДЭК нет.</p>
    <p class="pay_deliver-text">1.3. Наличная оплата (только для жителей Санкт-Петербурга, Москвы и Екатеринбурга).
        Данный вариант оплаты используется при указании способа доставки «Самовывоз из магазина». Оплата производится в наших розничных магазинах при получении заказа по указанным адресам.</p>
    <br>
    <p class="pay_deliver-text-bold">2. Оплата онлайн.</p>
    <p class="pay_deliver-text">2.1. Оплата Банковскими картами Visa, Mastercard, Maestro и МИР через систему Сбербанк*. Для оплаты данным способом, Вам необходимо после оформления заказа нажать на "Оплатить заказ", далее выбрать "Сбербанк" и следовать инструкциям системы.</p>
    <p class="pay_deliver-text">2.2. Оплата Банковскими картами Visa, Mastercard, Maestro и МИР через систему Ю.Касса. Для оплаты данным способом, Вам необходимо после оформления заказа нажать на "Оплатить заказ", далее выбрать "Ю.Касса", далее выбрать желаемый способ оплаты: банковской картой, Ю.Money, Qiwi, Альфа-клик или наличными через терминал.</p>
        
    <h2 class="pay_deliver-pays">Доставка</h2>
    <p class="pay_deliver-between">В нашем интернет-магазине предусмотрены следующие способы доставки:</p>
    <p class="pay_deliver-text-bold">1. Почта России</p>
    <p class="pay_deliver-text">Доставка возможна в любой город России. Стоимость доставки рассчитывается согласно действующим тарифам.</p>
    <p class="pay_deliver-text-bold">2. СДЭК – курьерская служба доставки</p>
    <p class="pay_deliver-text">Доставка по России, Казахстану и Республике Беларусь. Как до двери, так и до ближайшего пункта самовывоза.</p>
    <p class="pay_deliver-text-bold">3. EMS Почта России – курьерская служба доставки</p>
    <p class="pay_deliver-text">Доставка возможна в любой город России. Оплата производится онлайн.</p>
    <p class="pay_deliver-text-bold">4. Самовывоз из розничных магазинов</p>
    <p class="pay_deliver-text">Доставка осуществляется бесплатно в наши розничные магазины в Санкт-Петербурге, Москве и Екатеринбурге по указанным адресам.</p>
    <p class="pay_deliver-text">Срок хранения заказов в розничных магазинах составляет 14 дней, не считая день поступления.</p>
{% endblock content %}