{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main-banner-row">
        <div class="main-banner-row-slider">
            <div class="slider">
                {% for slider_image in slider_images %}
                    <img src="{{ slider_image.image_slider.url }}" alt="Изображение слайдера" class="slide" alt="Изображение слайдера">
                {% endfor %}
            </div>
        </div>
        <div class="main-banner-row-new">
            <img class="main-banner-row-new-img" src="{{ news_product_images.image_news_product.url }}" alt="Новинка">
        </div>
    </div>

    <div class="main-roww">
        <a class="main-hits-title">Хиты продаж</a>
        <div class="main-hits-row">
            {% for hit in hits %}
                <div class="main-hits-row-card">
                    <a href="{{ hit.get_absolute_url }}">
                        <img class="main-hits-row-card-img" src="{{ hit.image.url }}" alt="Logo Card">
                        <br>
                        <a class="main-hits-row-card-name" href="{{ hit.get_absolute_url }}">{{ hit.name }}</a>
                    </a>
                    {% if hit.discount %}
                        <div class="prices">
                            <a class="main-hits-row-card-price-sale"> {{ hit.price }} ₽</a>
                            <p class="main-hits-row-card-price-through"> {{ hit.price_discount }} ₽</p>    
                        </div>
                    {% else %}
                        <p class="main-hits-row-card-price">{{ hit.price }} ₽</p>
                    {% endif %}
                    {% if hit.pk in current_user_cart %}
                        <a class="main-hits-row-card-btn-green" href="{% url 'cart' %}">В корзине</a>
                    {% else %}
                        <a class="main-hits-row-card-btn" href="{% url 'cart_add' product_id=hit.pk %}">В корзину</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="main-roww">
        <a class="main-hits-title">Манга</a>
        <div class="main-hits-row">
            {% for manga in manga_list %}
                <div class="main-hits-row-card">
                    <a href="{{ manga.get_absolute_url }}">
                        <img class="main-hits-row-card-img" src="{{ manga.image.url }}" alt="Logo Card">
                        <br>
                        <a class="main-hits-row-card-name" href="{{ manga.get_absolute_url }}">{{ manga.name }}</a>
                    </a>
                    {% if manga.discount %}
                        <div class="prices">
                            <a class="main-hits-row-card-price-sale"> {{ manga.price }} ₽</a>
                            <p class="main-hits-row-card-price-through"> {{ manga.price_discount }} ₽</p>    
                        </div>
                    {% else %}
                        <p class="main-hits-row-card-price">{{ manga.price }} ₽</p>
                    {% endif %}
                    {% if manga.pk in current_user_cart %}
                        <a class="main-hits-row-card-btn-green" href="{% url 'cart' %}">В корзине</a>
                    {% else %}
                        <a class="main-hits-row-card-btn" href="{% url 'cart_add' product_id=manga.pk %}">В корзину</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="show-all-row">
            <a class="main-hits-show-all" href="{% url 'product_list' category_slug='manga' %}">Посмотреть все товары</a>
        </div>
    </div>
{% endblock content %}