{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="catalog-list-main-row-link">
        <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'refund' %}">Возврат и обмен</a>
    </div>

    <h1 class="pay_delivery-title">Правила возврата и обмена товара</h1>
    <p class="return_charge-text">Уважаемые покупатели, при запросе возврата денежных средств по причине отказа от покупки, возврат осуществляется на банковскую карту, с которой ранее была произведена оплата товара.</p>
    <p class="return_charge-text">Отказаться от заказанного товара покупатель может в любое время до его отправки, и в течение 7 дней после его получения.</p>
    <p class="return_charge-text">Для возврата товара надлежащего качества необходимо сохранить его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт приобретения указанного товара (товарный или кассовый чек, опись вложения). Также, необходимо предоставить документ, удостоверяющий личность и заполненное заявление.</p>
    <p class="return_charge-text">При возврате товара надлежащего качества, OTAKU World вернет его стоимость не позднее чем через 10 дней с момента получения товара и письменного заявления покупателя. Почтовые расходы на доставку товара до OTAKU World оплачивает покупатель.</p>
    <p class="return_charge-text">В случае, если товар не подошел по каким-либо параметрам, покупатель вправе обменять товар надлежащего качества на аналогичный в течение 14 дней с момента получения заказа, не считая дня покупки. </p>
    <p class="return_charge-text">Обмену не подлежат товары надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 31.12.2020 № 2463.</p>
    <p class="return_charge-text">Покупатель вправе отказаться от товара и потребовать возврат его стоимости, если на момент обращения покупателя по вопросу обмена товара, аналогичный товар отсутствует в продаже.</p>
    <p class="return_charge-text">Покупатель вправе предъявить претензии в отношении товара при обнаружении недостатков товара в процессе его использования по прямому назначению, если они обнаружены в течение гарантийного срока или срока годности.</p>
    <p class="return_charge-text">Покупатель вправе предъявить претензии в отношении товара, на который не установлены гарантийные сроки или сроки годности, если недостатки товара обнаружены в разумный срок, то есть, в пределах двух лет со дня передачи товара покупателю.</p>
    <p class="return_charge-text">По вопросам возврата товаров и денежных средств обращайтесь:</p>
    <p class="return_charge-text">- По телефону 8 (800) 111-11-11 (в будние дни, с 9:00 до 18:00);</p>
    <p class="return_charge-text">- По адресу электронной почты katsuyoriiii@gmail.com</p>
{% endblock content %}