{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="catalog-list-main-row-link">
    <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
    <p>-</p>
    <a class="catalog-list-main-row-link-item" href="{% url 'registration' %}">Регистрация</a>
</div>

<h1 class="pay_delivery-title">Подтвердите ваш E-mail</h1>
                    <div class="email-send-text-block">
                        <p class="email-send-text-block-text">Чтобы продолжить, перейдите по ссылке, которую мы отправили на ваш адрес электронной почты.</p>
                        <p class="email-send-text-block-text">Если вы не получили письмо, <a class="email-send-text-block-text-link" href="{% url 'activate_email_repeat' %}">нажмите сюда</a>, чтобы мы отправили его повторно.</p>
                    </div>
{% endblock content %}