{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="catalog-list-main-row-link">
    <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
    <p>-</p>
    <a class="catalog-list-main-row-link-item" href="{% url 'cart' %}">Корзина</a>
</div>
<h1 class="catalog-list-main-title">Корзина</h1>
{% if not carts.exists %}
<div class="cart-empty">
    <p class="cart-empty-text">В корзине ничего нет</p>
</div>
{% else %}
<div class="super-cart-row">
    <div class="super-cart-row-left">
        {% for cart in carts %}
            <div class="cart-row">
                <div class="cart-row-left">
                    <div class="cart-row-left-item">
                        <div class="cart-row-left-item-left">
                            <img src="{{ cart.product.image.url }}" alt="Item" class="cart-row-left-item-left-img">
                            <div class="cart-row-left-item-left-div">
                                <a href="{{ cart.product.get_absolute_url }}" class="cart-row-left-item-left-name">{{ cart.product.name }}</a>
                                {% if cart.product.discount %}
                                <p class="cart-row-left-item-left-sale">Скидка {{ cart.product.discount }}%</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="cart-row-left-item-right">
                            <div class="cart-row-left-item-right-price-div">
                                {% if cart.product.discount %}
                                <p class="cart-row-left-item-right-price-red">{{ cart.total_price_not_sale }} ₽</p>
                                <p class="cart-row-left-item-right-price-through">{{ cart.total_price_sale }} ₽</p>
                                {% else %}
                                <p class="cart-row-left-item-right-price">{{ cart.total_price_not_sale }} ₽</p>
                                {% endif %}
                            </div>
                            <input class="cart-row-left-item-right-count" type="text" value='{{ cart.amount }}'>
                            <a href="{% url 'cart_delete' cart_id=cart.pk %}"><img class="cart-row-left-item-right-img" src="{% static 'img/icons/icon-delete-cart.png' %}" alt="Delete"></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="super-cart-row-right">
        <div class="cart-row-right">
            <p class="cart-row-right-title">Ваша корзина</p>
            <div class="cart-row-right-products">
                <p class="cart-row-right-product-title">Товары ({{ amount_products }})</p>
                <p class="cart-row-right-product-price">{{ all_products_price }} ₽</p>
            </div>
            <div class="cart-row-right-sales">
                <p class="cart-row-right-product-title">Скидка</p>
                <p class="cart-row-right-product-price-sale">- {{ all_products_sale }} ₽</p>
            </div>
            <div class="cart-row-right-line"></div>
            <div class="cart-row-right-sum">
                <p class="cart-row-right-title">Общая стоимость</p>
                <p class="cart-row-right-product-price">{{ all_products_price_discounted }} ₽</p>
            </div>
            <div class="cart-row-right-btns">
                <a href="{% url 'cart_clear' %}" class="cart-row-right-btns-clear">Очистить корзину</a>
                <a href="#order_confirm" class="cart-row-right-btns-oform">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>

<div class="cart-contacts-info">
    <h1 class="cart-contacts-info-title">Контактная информация</h1>
    <div class="cart-contacts-info-row">
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">ФИО*</div>
            <input placeholder="Введите ФИО" class="cart-contacts-info-row-item-input" type="text" value="{{ user.username }}">
        </div>
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Телефон*</div>
            {% if user.phone_number %}
                <input placeholder="Введите номер телефона" class="cart-contacts-info-row-item-input" type="text" value="{{ user.phone_number }}">
            {% else %}
                <input placeholder="Введите номер телефона" class="cart-contacts-info-row-item-input" type="text">
            {% endif %}
        </div>
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">E-mail*</div>
            <input placeholder="Введите адрес электронной почты" class="cart-contacts-info-row-item-input" type="text" value="{{ user.email }}">
        </div>
    </div>
</div>

<div class="cart-contacts-delivery">
    <h1 class="cart-contacts-info-title">Способ доставки</h1>
    <div class="cart-contacts-info-row">
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Город / Населенный пункт*</div>
            <input placeholder="Введите населенный пункт" class="cart-contacts-info-row-item-input" type="text">
        </div>
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Улица*</div>
            <input placeholder="Введите улицу" class="cart-contacts-info-row-item-input" type="text">
        </div>
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Дом, корпус*</div>
            <input placeholder="Введите дом или корпус" class="cart-contacts-info-row-item-input" type="text">
        </div>
    </div>
    <div class="cart-contacts-info-row-two">
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Квартира*</div>
            <input placeholder="Введите квартиру" class="cart-contacts-info-row-item-input" type="text">
        </div>
        <div class="cart-contacts-info-row-item">
            <div class="cart-contacts-info-row-item-title">Почтовый индекс*</div>
            <input placeholder="Введите почтовый индекс" class="cart-contacts-info-row-item-input" type="text">
        </div>
    </div>
    <h1 class="cart-contacts-info-comment-title">Комментарий к заказу</h1>
    <textarea class="cart-contacts-info-comment" name="comment" id="comment"></textarea>
    <div class="cart-contacts-info-line"></div>
    <p class="cart-contacts-info-prices-title">Общая стоимость с учетом доставки {{ all_products_price_delivery }} ₽</p>
    <a href="#" id="order_confirm" class="cart-contacts-info-btn">Подтвердить заказ</a>
</div>
{% endif %}
{% endblock content %}