{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="catalog-list-main-row-link">
    <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
    <p>-</p>
    <a class="catalog-list-main-row-link-item" href="{% url 'profile' %}">Ваш профиль</a>
    <p>-</p>
    <a class="catalog-list-main-row-link-item" href="{% url 'change_password' %}">Смена пароля</a>
</div>

<div class="profile-row">

    {% include "profile-menu.html" %}

    <div class="profile-row-info">
        
        {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                <p class="product-detail-reviews-error">*{{ error }} </p>
            {% endfor %}
        {% endif %}
        
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <p class="product-detail-reviews-error">*{{ error }} </p>
            {% endfor %}
        {% endif %}
        
        <br>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group-ed">
                <label class="login-email-lbl" for="{{ form.old_password.id_for_label }}">Текущий пароль*</label>
                {{ form.old_password }}
            </div>

            <div class="form-group">
                <label class="login-email-lbl" for="{{ form.new_password1.id_for_label }}">Пароль*</label>
                {{ form.new_password1 }}
            </div>
        
            <div class="form-group">
                <label class="login-email-lbl" for="{{ form.new_password2.id_for_label }}">Подтвердите пароль*</label>
                {{ form.new_password2 }}
            </div>
        
            <button class="login-btn-prof" type="submit">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock content %}