{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="psw-forgot-email-block">
    <p class="psw-forgot-email-block-title">Восстановление пароля</p>
    <form method="POST">
        {% csrf_token %}

        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <p class="product-detail-reviews-error">*{{ error }}</p>
            {% endfor %}
        {% endif %}
    
        <div class="form-group">
            <label class="login-email-lbl" for="{{ form.password1.id_for_label }}">Пароль</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            <label class="login-email-lbl" for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
            {{ form.password2 }}
        </div>

        <button class="login-btn-reg" type="submit">Подтвердить</button>
    </form>
</div>
{% endblock content %}