{% load static %}

<div class="profile-row-links">
    <span class="circle-img">
        {% if user.profile_image %}
            <img class="profile-row-links-img" src="{{ user.profile_image.url }}" alt="Profile Logo">
        {% else %}
            <img class="profile-row-links-img" src="{% static 'img/default.png' %}" alt="Profile Logo">
        {% endif %}
    </span>
    <a class="profile-row-links-a" href="{% url 'orders' %}">История заказов</a>
    <a class="profile-row-links-a" href="{% url 'favorites' %}">Избранное</a>
    <a class="profile-row-links-a" href="{% url 'cart' %}">Корзина</a>
    <a class="profile-row-links-a" href="{% url 'logout' %}">Выход</a>
</div>