{% load static %}

<div class="profile-row-links">
    <span class="circle-img">
        {% if user.image %}
            <img class="profile-row-links-img" src="{{ user.image.url }}" alt="Profile Logo">
        {% else %}
            <img class="profile-row-links-img" src="{% static 'img/default.png' %}" alt="Profile Logo">
        {% endif %}
    </span>
    <a class="profile-row-links-a" href="#">История заказов</a>
    <a class="profile-row-links-a" href="#">Контакты</a>
    <a class="profile-row-links-a" href="#">Избранное</a>
    <a class="profile-row-links-a" href="#">Корзина</a>
    <a class="profile-row-links-a" href="#">Выход</a>
</div>