{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="catalog-list-main-row-link">
        <a class="catalog-list-main-row-link-item" href="{% url 'index' %}">Главная</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'catalog' %}">Каталог</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{{ comment.product.category.get_absolute_url }}">{{ comment.product.category }}</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{{ comment.product.get_absolute_url }}">{{ comment.product.name }}</a>
        <p>-</p>
        <a class="catalog-list-main-row-link-item" href="{% url 'edit_comment' comment_id=comment.pk %}">Редактирование отзыва</a>
    </div>
    <h2 class="product-detail-title">Редактирование отзыва</h2>
    <br>
    <br>

    <form method="POST">
                    {% csrf_token %}

                    {{ form.review_text }}

                    {% for error in form.review_text.errors %}
                        <p class="product-detail-reviews-error">* {{ error }} </p>
                    {% endfor %}
                    
                    <div class="product-detail-reviews-row">
                        <div class="product-detail-reviews-stars">
                            <p>Ваша оценка:</p>
                            <div class="rating-area">

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var gradeValue = "{{ comment.grade }}";
                                        var radioButton = document.getElementById('id_grade_' + gradeValue);
                                        radioButton.checked = true;
                                    });
                                </script>

                                <input type="radio" id="id_grade_5" name="grade" value="5">
                                <label for="id_grade_5" title="Оценка «5»"></label>	
                                <input type="radio" id="id_grade_4" name="grade" value="4">
                                <label for="id_grade_4" title="Оценка «4»"></label>     
                                <input type="radio" id="id_grade_3" name="grade" value="3">
                                <label for="id_grade_3" title="Оценка «3»"></label>  
                                <input type="radio" id="id_grade_2" name="grade" value="2">
                                <label for="id_grade_2" title="Оценка «2»"></label>    
                                <input type="radio" id="id_grade_1" name="grade" value="1">
                                <label for="id_grade_1" title="Оценка «1»"></label>
                            </div>
                        </div>
                        <button type="submit" class="product-detail-reviews-link">Отправить</a>
                    </div>
                    {% for error in form.grade.errors %}
                        <p class="product-detail-reviews-error">*{{ error }} </p>
                    {% endfor %}
                </form>
{% endblock content %}